/* root styles */
:root {
  background-color: rgb(29, 29, 29);
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  font-family: 'Syne', sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

/* font styles */

h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
}

h1 {
  font-size: 5.4rem;
  color: #e9cb22;
  margin-bottom: 1rem;
}

h1 > span {
  font-size: 2.4rem;
  font-weight: 500;
}

h2 {
  margin-bottom: 4rem;
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
  color: aqua;
}

a {
  font-size: 1.4rem;
  color: aqua;
  text-decoration: none;
}

.intro-text {
  font-size: 2.4rem;
  color: rgb(223, 174, 209);
  text-decoration: none;
  font-weight: 500;
}

/*  Utilities */

.container {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  width: auto;
  padding-top: 5rem;
  text-align: center;
}
.image-container img {
  width: 90%;
}

.text-container {
  text-align: center;
  margin-top: 2rem;
}

.giphy-gif {
  width: auto;
}
